<form class="item" action="/" method="post">
  <input type="text" name="newItem" placeholder="Add New Item" autocomplete="off">
  <button type="submit" name="list" value=<%= listTitle %>>+</button>
</form>
</div>
</body>
</html>
